.btn {
  text-transform: uppercase;
  line-height: 1;
  padding-top: calc(var(--bs-btn-padding-y) + 3px);

  &-round {
    border-radius: 2rem;
  }

  &-lg {
    --bs-btn-font-size: 2rem;
    --bs-btn-padding-y: 0.8rem;
    min-width: 17rem;
  }

  &-sm {
    --bs-btn-font-size: 1.8rem;
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 1rem;
    text-transform: unset;
    font-weight: 400;
    min-width: 7rem;
  }

  &-bordered {
    position: relative;

    &:hover {
      &::before {
        border-color: inherit;
      }
    }

    &:before {
      content: '';
      position: absolute;
      background-color: transparent;
      border: 0.1rem solid #fff;
      border-radius: 4rem;
      top: -1rem;
      left: -1rem;
      right: -1rem;
      bottom: -1rem;
      z-index: -1;
      transition: border-color 0.1s ease-in-out;
    }
  }
}
